

<!DOCTYPE html>

<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery/jquery-2.1.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/underscore/underscore-1.6.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/backbone/backbone-1.1.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/react/react-with-addons.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/react/JSXTransformer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/reactapp/components/user.jsx")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/reactapp/components/main_menu.jsx")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/reactapp/components/messages.jsx")" type="text/jsx"></script>
        <script src="@routes.Assets.at("javascripts/reactapp/pages/main_page.jsx")" type="text/jsx"></script>
    </head>
    <body>
        <div id="user_details"></div></br>
        <div id="main_menu"></div><br/>
        <div id="content"></div>
    </body>
</html>
