.messageThread {
border:1px solid;
}

.mainMenu {
    width: 950px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #4C4C44;
    background-color: #660033;
        border-radius: 8px;
}

.mainMenu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.mainMenu li { 
display: inline; 
padding: 10px; 
}

.mainMenu a {
    text-decoration: none;
    color: #FFFFE2;
    padding: 8px 8px 8px 8px;
}

.mainMenu a:hover {
    color: #47476B;
    background-color: #FFF;
}

.userSnapshot {
	font-family: Zapfino, italic;
	font-weight: italic;
	display: inline-block;
}

#hedge_logo img {
float: left;
}

#riak_logo  {
float: right;
}

.sandBox header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}

#aboutcontent {
display:table;
}

#aboutarticle {
	  width: 620px;
        padding-right: 22px;
	display:table-cell;
}

#aboutaside {
	display:table-cell;
	width: 300px;
}



.chat {
    width: 400px;
}

.bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.me {
    float: top;   
    margin: 5px 45px 5px 20px;         
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}

.you {
    float: right;    
    margin: 5px 20px 5px 45px;         
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;    
}

.blogEntry label {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: italic;
    display: inline-block;
}

.messageEntry label {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-weight: italic;
    display: inline-block;
}

.techborder {
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(../images/Tech-border2.png) 27 repeat;
    -webkit-border-image: url(../images/Tech-border2.png) 27 repeat;
    -o-border-image: url(../images/Tech-border2.png) 27 repeat;
    border-image: url(../images/Tech-border2.png) 27 fill repeat;
}

.colourborder {
     border-style: solid;
    border-width: 20px 22px 33px 28px;
    -moz-border-image: url(../images/bodercolourful.jpg) 20 22 33 28;
    -webkit-border-image: url(../images/bodercolourful.jpg) 20 22 33 28;
    -o-border-image: url(../images/../images/bodercolourful.jpg) 20 22 33 28;
    border-image: url(../images/bodercolourful.jpg) 20 22 33 28;
}



.messagethread #subject {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    display: block; 
    width: 100%;
    background-color: #245957;
    border-color: black;
   font-family: Copperplate, "Copperplate Gothic Light", fantasy;
   color: white;
    padding: 5px 5px;
}

.messagethread #date {
  color: #A5A639;
  font-size: 12px;
}

#pageheader {
    height : 170px;

}

#main_menu {
 position: fixed;
 width: 100%;
 z-index:10;
}

#content { 
    padding-top: 60px;
}

#mainheader {
    height : 170px;
    display: block;
}