.messageThread {
border:1px solid;
}

.mainMenu {
    width: 950px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px #4C4C44;
    background-color: #660033;
        border-radius: 8px;
}

.mainMenu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

.mainMenu li { 
display: inline; 
padding: 10px; 
}

.mainMenu a {
    text-decoration: none;
    color: #FFFFE2;
    padding: 8px 8px 8px 8px;
}

.mainMenu a:hover {
    color: #47476B;
    background-color: #FFF;
}

.userSnapshot {
	font-family: Zapfino, italic;
	font-weight: italic;
	display: inline-block;
}

#hedge_logo img {
float: left;
}

#riak_logo  {
float: right;
}

.sandBox header, section, footer, aside, nav, article, figure, figcaption {
				display: block;}

#aboutcontent {
display:table;
}

#aboutarticle {
	  width: 620px;
        padding-right: 22px;
	display:table-cell;
}

#aboutaside {
	display:table-cell;
	width: 300px;
}